/.idea/DoomClone.iml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
__pycache__/map.cpython-310.pyc
__pycache__/player.cpython-310.pyc
__pycache__/settings.cpython-310.pyc
